@import "./variables";


.main-container{
    @include getStartedbg();
}

::-webkit-scrollbar{
    display: none;
}

.container{
    @include flexCenter(flex, center, center, column);
   margin: 15%;

    h3{
        color: $green;
        margin-top: 2rem;
        font-size: 3.5rem;
        font-weight: $font-bold;
        position: relative;

        .fab{
            position: absolute;
            top: 0;
            margin-right: 50px;
            color: $white;
            font-size: 1rem;
            font-weight: $font-light;
        }
    }

    a{
        text-decoration: none;
        outline: none;
        border: none;
        margin-top: 2rem;
        padding: 2rem 5rem;
        border-radius: 50px;
        background-color: $white;
        color: $dark-blue;
        font-size: $font-medium;
        font-weight: $font-bold;
        cursor: pointer;
        transition: 0.5s ease;

        &:hover{
            color: $white;
            background: $btn-hover;
            text-transform: uppercase;
            font-size: 1.55rem;
            filter: drop-shadow(-1px -1px 1rem rgb(19, 224, 94));
        }
    }
}